body{
    background-color: white;
    color:black;
    font-family: Arial;
}
.move-image{
    height: 50px;

}
.name{
    font-size: 30px;
    font-weight: bold;
}
.move-btn{
    background-color: transparent;
    border: 2px solid black;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin-right: 10px;

}
.result{
    font-size: 25px;
    font-weight: bold;
}
.moves{
    font-size: 15px;

}
.scores{
    font-size: 17px;
    margin-top: 50px;
}
.reset-score-btn{
    padding: 8px 20px;
    font-size: 15px;
    background-color: black;
    color:white;
    border: none;
    font-weight: 500;
    border-radius: 20px;
    font-size: 16px;
    transition: box-shadow 0.3s;
    cursor: pointer;
    transform: rotate3d(15deg);
}
.reset-score-btn:hover{
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}